/* ====================
# UTILITIES: VARIABLES
==================== */
$white: #fff;
$black: #0E0E0E;
$gray: #232323;
$darkBlue: #131620;
$gold: #E3B948;
$bg-col: #F8F6F0;

// Bootstrap Grid Vars
// Options
// Quickly modify global styling by enabling or disabling optional features.
$enable-grid-classes: true !default;

// Grid breakpoints
$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Grid containers
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (sm: 560px,
  md: 760px,
  lg: 960px,
  xl: 1170px,
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$grid-row-columns: 6 !default;