/* ====================
# UTILITIES: COLORS
==================== */

// Color system
$white: #fff !default;
$black: #000 !default;
$gray: #777 !default;
$gold: #c49f45 !default;

$primary: $black !default;
$secondary: $gold !default;

/* ====================
# BASE: GENERAL
==================== */

.help-window {
	h2,
	h3,
	p {
		margin: 0;
		padding: 0;
	}

	ul {
		margin: 0;
		padding-left: 0;
		list-style-type: none;
	}

	a,
	button {
		cursor: pointer;
		outline: none;
		transition-property: color, background-color, border, box-shadow;
		transition-duration: .4s;
		transition-timing-function: linear;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}
}


/* ====================
# Global styles
==================== */

.help-window {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000001;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-color: rgba($black, .6);

	&-close {
		font-size: 50px;
		color: $gray;
		line-height: 1;
		opacity: .5;
		font-weight: 400;
		border: none;
		background-color: transparent;
		cursor: pointer;
		padding: 0;
		position: absolute;
		top: 10px;
		right: 18px;
	}

	&-inner {
		width: 100%;
		height: 100%;
		display: grid;
		place-items: center center;
		&-wrap {
			margin: 0 auto;
		}
	}

	.help-form {
		display: flex;

		&-wrapper {
			min-height: 530px;
			padding: 45px 20px;
			border-radius: 30px;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: $primary;
			position: relative;
		}

		&-title {
			color: $white;
			text-align: center;
		}
	}

	#help-form-btn {
		border-radius: 4px;
		width: 100%;
		max-width: 300px;
		background: linear-gradient(90deg, #BC8C15 19.28%, #C9AB63 93.75%);
		color: $primary;
		border: none;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 20px 70px;
		display: block;
		margin: 0 auto;
		margin-top: 20px;
		cursor: pointer;

		&:hover {
			transform: scale(1.1);
		}

		&:disabled {
			// background-color: rgba($primary, .5);
			opacity: .5;
		}
	}

	.help-input {
		&-wrapper {
			margin-top: 20px;
			position: relative;
			svg {
				position: absolute;
				right: 14px;
				top: 18px;
				path {
					fill: $gray;
				}
			}
		}
		&-field {
			width: 100%;
			font-size: 16px;
			color: $gray;
			line-height: 22px;
			outline: none;
			padding: 14px;
			background-color: transparent;
			border: 2px solid $secondary;
			border-radius: 6px;
			white-space: nowrap;
			text-overflow: ellipsis;
	
		}
	}
	::placeholder {
		color: $gray;
		text-transform: uppercase;
		font-weight: 700;
	}
	
	.help-checkbox-label {
		display: flex;
		align-items: center;
		position: relative;
		text-align: left;
		margin-bottom: 15px;
		color: $white;
		padding-left: 45px;
		font-size: 16px;
		margin-top: 30px;
		a { 
			color: inherit;
			text-decoration: underline;
		}
		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		}
		.help-checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 25px;
			width: 25px;
			border: 2px solid $secondary;
			box-sizing: border-box;
		}
	
		.help-checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}
		input:checked ~ .help-checkmark:after {
			display: block;
			background: none;
		}
		input:checked ~ .help-checkmark {
			background-color: $secondary;
			border: 2px solid transparent;
		}
		.help-checkmark:after {
			left: 9px;
			top: 5px;
			width: 5px;
			height: 10px;
			border: solid $white;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}

	.iti {
		width: 100%;
	}

	.iti__arrow {
		content: url("./../img/arrow-down.svg");
		width: 12px;
		height: 5px;
		border: none;
	}

	.iti__arrow--up {
		transform: rotate(180deg);
	}

	#help-error-box {
		display: none;
		width: 100%;
		padding: 15px;
		border: 1px solid $gold;
		margin: 15px 0;
		box-sizing: border-box;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		color: $gold;
	}

	@media screen and (max-width: 767px) {
		.help-form {
			&-wrapper {
				min-height: unset;
			}
			&-title {
				font-size: 22px;
			}
		}
		#help-form-btn {
			padding: 20px;
		}
	}
	@media screen and (max-width: 575px) {
		.help-form-logo {
			max-width: 200px;
		}
	}
}

.show {
	display: block;
}

.hide {
	display: none;
}

