/* ====================
# COMPONENTS: BUTTONS
==================== */
a,
button {
  cursor: pointer;
  outline: none;
  transition-property: color, background-color, border, box-shadow;
  transition-duration: .4s;
  transition-timing-function: linear;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 56px;
  background: linear-gradient(90deg, #E3B948 0%, #FDE198 100%);
  color: $black;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  border-radius: 8px;
  border: 0;
  transition: all 0.2s ease-in;

  &:hover {
    background: linear-gradient(180deg, #E3B948 0%, #FDE198 100%);
  }

  &:disabled {
    opacity: .5;
  }
}

.sticky-btn {
  padding: 12px 22px;
}

.button-trading {
  margin: 0 auto;
}