#interest-form {
  margin-top: 30px;

  .input-wrapper {
    position: relative;
    margin-bottom: 20px;

    svg {
      position: absolute;
      right: 15px;
      top: 8px;
      width: 24px;

      path {
        fill: $black;
      }
    }
  }

  ::placeholder {
    // color: #A2A2A2;
    color: rgba($black, .4);
  }

  input {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid $black;
    background-color: transparent;
    padding: 10px 15px;
    outline: none;
    color: $black;
  }

  .error-msg {
    color: #ff0000;
    text-align: left;
  }

  .iti {
    display: block;
    color: $black;
  }

  // .iti__country-list {
  //   position: absolute;
  //   color: #1A1A1A !important;
  //   z-index: 2;
  //   list-style: none;
  //   text-align: left;
  //   padding: 0;
  //   margin: 0 0 0 -1px;
  //   box-shadow: 1px 1px 4px rgba($black, 20%);
  //   background-color: white;
  //   border: 1px solid #CCC;
  //   white-space: nowrap;
  //   max-height: 200px;
  //   overflow-y: scroll;
  //   -webkit-overflow-scrolling: touch;
  // }

  .error-box {
    display: none;
    width: 100%;
    padding: 20px 30px;
    border: 1px solid $gold;
    margin-bottom: 30px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    color: $gold;
  }

  #phone {
    padding-left: 50px;
  }

  .custom-checkbox-label {
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
    margin-bottom: 15px;
    color: inherit;
    padding-left: 44px;
    font-size: 16px;
    margin-top: 30px;

    a {
      color: inherit;
      text-decoration: underline;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      border: 2px solid $black;
      box-sizing: border-box;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    input:checked~.checkmark:after {
      display: block;
    }

    .checkmark:after {
      left: 9px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid $black;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  @media screen and (max-width: 575px) {
    .custom-checkbox-label {
      font-size: 14px;
    }
  }
}