/* ====================
BASE: GENERAL
==================== */
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;

  * {
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
    background-color: $white;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

body {
  .sticky-btn-wrapper {
    display: none;
  }

  @media screen and (max-width: 991px) {
    .sticky-btn-wrapper {
      max-width: 420px;
      padding: 10px;
      background-color: $bg-col;
      display: none;
      // display: flex;
      // position: fixed;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-radius: 7px;
      bottom: 10px;
      z-index: 99;
      margin: 0 auto;
      // width: 100%;
      width: 92%;
      left: 50%;
      transform: translateX(-50%);
      text-transform: uppercase;
      box-shadow: 0px 2px 7px rgba($black, .25);

      &.sticky-up,
      &.sticky {
        display: flex;
        position: fixed;
      }
    }
  }
}