/* ====================
# BASE: TYPOGRAPHY
==================== */

html,
body {
  font-family: $f_family;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;

  @media screen and (max-width: 575px) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

.big-title {
  font-size: 28px;
  font-weight: 800;

  &.medium {
    font-weight: 700;
  }

  // @media screen and (max-width: 575px) {
  //   font-size: 24px;
  // }
}

.small-title {
  font-size: 20px;
  font-weight: 700;

  @media screen and (max-width: 575px) {
    font-size: 16px;
  }
}