.site-footer {
  background-color: $gray;
  border-top: 8px solid $gold;
  color: $white;
  padding: 40px 0;
  overflow-x: hidden;

  .interest-footer-links {
    display: flex;
    margin-top: 28px;

    a {
      color: $white;
      text-decoration: underline;

      &:hover {
        color: $gold;
      }

      &:not(:last-child) {
        margin-right: 28px;
      }
    }
  }


  @media screen and (max-width: 767px) {
    // text-align: center;
    padding: 40px 0 90px;

    .interest-footer-links {
      flex-direction: column;

      a:not(:last-child) {
        margin-right: 0;
        margin-bottom: 28px;
      }
    }
  }
}