.site-header {
  padding: 40px 0;
  width: 100%;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    max-width: 180px;
    width: 100%;
    height: 45px;

    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 20px 0;
  }
}