.advantages {
  color: $black;
  overflow-x: hidden;
  list-style-type: none;
  padding: 0;

  .advantage {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 28px;
    }

    &-image {
      flex: 0 0 60px;
      margin-right: 16px;
    }

    &-text {
      flex: 1;

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin: 0;
      }
    }
  }
}