.form-section {
  color: $black;
  overflow-x: hidden;
  padding-top: 0;

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
  }

  &-inner-wrapper {
    background-color: $bg-col;
    box-shadow: 0px 2px 7px rgba($black, .25);
    border-radius: 8px;
    text-align: center;
    padding: 25px 40px;

    .error-box {
      display: none;
      width: 100%;
      padding: 20px 30px;
      border: 1px solid $gold;
      margin-bottom: 30px;
      box-sizing: border-box;
      text-align: center;
      font-weight: bold;
      color: $gold;
    }
  }
  
  &-paymets {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    
    svg:not(:last-child) {
      margin-right: 10px;
    }
  }
  .inner-wrapper-title,
  .inner-wrapper-subtitle {
    font-weight: 700;
  }

  &-title {
    text-transform: uppercase;
  }

  @media screen and (max-width: 991px) {
    padding-top: 0;

    &-inner-wrapper {
      padding-left: 20px;
      padding-right: 20px;
    }

    &-left {
      margin-top: 96px;
    }

    &-text {
      .big-title {
        text-align: center;
      }
    }
  }
}